<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>701136788355-j5jtui147uspkvo5j6kete1q5gceig56.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.701136788355-j5jtui147uspkvo5j6kete1q5gceig56</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>701136788355-amuct6r0qed5b0fmqsd6ahh922ejhmsh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCcA8KGQg6o-_WoBSy-YPzarxf0tEPFNoI</string>
	<key>GCM_SENDER_ID</key>
	<string>701136788355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>toDoList.charlie</string>
	<key>PROJECT_ID</key>
	<string>todolistapp-6193a</string>
	<key>STORAGE_BUCKET</key>
	<string>todolistapp-6193a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701136788355:ios:a5b5e6a1c97b9399a974b6</string>
</dict>
</plist>